body {background-color:beige;}
h1 { 	color:black;	Margin-left: 20px; 	font-size: 40 px;}
p {	margin-left: 40px;	font-size: 20px;	font-family: Lato;}


.header {background-color: #F5F5DC; height: 10vh; width: 100%; font-family: 'Playfair Display', serif;}

.leftcol {background-color: #F5F5DC; height: 80vh; float: left; width: 20%}

.content {background-color: #F5F5DC; height: 80vh; float: left; width: 60%; font-family: 'Ruslan Display', cursive;}

.rightcol {background-color: #F5F5DC; height: 80vh; float: right; width: 20%}

.footer {background-color: #800000; height: 10vh; width: 100%; clear: both; text-align: center;}

img {
    width: 100%;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #00008B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #800000;
}

.container {
    border-radius: 5px;
    background-color: #F5F5DC;
    padding: 20px;
} 

ul {list-style-type: none; background-color: #800000; margin: 0px; padding: 0px;}

li a {display: block; text-decoration: none;}

li a: hover {background-color: #800000;}